<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-folder mr-1"></i>
        Content Folders
      </div>
      <div class="card-body">
        <div class="row content-modal-folder-tree-parent">
          <div class="col-md-12 content-folder-tree">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-folder-open mr-1"></i>
        <span class="content-modal-folder-path">You are currently in :</span>
      </div>
      <div class="card-body">
        <div class="content-modal-item-msg"></div>
        <div class="content-modal-items-area">
          <div class="list-group">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>