<div class="modal fade" id="deleteFolderModal" tabindex="-1" role="dialog" aria-labelledby="labelDeleteModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labelDeleteModal">Delete folder <strong class="delete-fldr-title"></strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete folder `<strong class="delete-fldr-title"></strong>`
          ?</p>
        <p>All the sub folders will be deleted as well also all the items will be lost
          as well.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger confirm-delete-fldr-btn">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>