<a class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{{itemtitle}}}</h5>
    <small>{{{itemlasteditedtime}}}</small>
  </div>
  <p class="mb-1">{{{itemdesc}}}</p>
  <p class="mb-1 item-type"><strong>Type:</strong> {{{itemtype}}}</p>
  <div class="mb-1 extra-items"></div>
  <p class="mb-1">
    <button class="btn btn-primary main-items-select-btn" data-itemid="{{{itemid}}}" data-mappingid="{{{mappingid}}}">
      <i class="fas fa-check"></i> Select
    </button>
    <button class="btn btn-primary main-items-edit-btn" data-itemid="{{{itemid}}}" data-mappingid="{{{mappingid}}}">
      <i class="fas fa-edit"></i> Edit Basic
    </button>
    <button class="btn btn-primary main-items-adv-edit-btn" data-itemid="{{{itemid}}}" data-mappingid="{{{mappingid}}}">
      <i class="fas fa-edit"></i> Edit Advance
    </button>
    <button class="btn btn-primary main-items-preview-btn" data-itemid="{{{itemid}}}" data-mappingid="{{{mappingid}}}">
      <i class="fas fa-eye"></i> Preview
    </button>
    <button class="btn btn-danger main-items-remove-btn" data-itemid="{{{itemid}}}" data-mappingid="{{{mappingid}}}">
      <i class="fas fa-trash"></i> Delete
    </button>
  </p>
</a>