<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-folder-open mr-1"></i>
        <span class="">Content Items available</span>
      </div>
      <div class="card-body">
        <div class="page-content-modal-item-msg"></div>
        <div class="page-content-modal-items-area">
          <div class="list-group">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary page-content-modal-add-content">
          <i class="fas fa-plus"></i> Add More Content Item
        </button>
      </div>
    </div>
  </div>
</div>