<div class="sb-sidenav-menu-heading">Core</div>
<a class="nav-link" href="/admin/">
  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
  Dashboard
</a>
<div class="sb-sidenav-menu-heading">Data</div>
<a class="nav-link" href="/admin/contact">
  <div class="sb-nav-link-icon"><i class="fas fa-user-friends"></i></div>
  Contact
</a>
<a class="nav-link" href="/admin/newsletter">
  <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
  News Letter
</a>
<a class="nav-link" href="/admin/reviews">
  <div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
  Product Reviews
</a>
<a class="nav-link" href="/admin/logs">
  <div class="sb-nav-link-icon"><i class="fas fa-scroll"></i></div>
  Logs
</a>
<div class="sb-sidenav-menu-heading">CMS</div>
<a class="nav-link" href="/admin/content">
  <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
  Content
</a>
<a class="nav-link" href="/admin/menusnpages">
  <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
  Menus, Footers and Pages
</a>